@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

header {
  width: 1440px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

section {
  width: 1440px;
}

footer {
  width: 1440px;
}

header .container {
  background-color: #fff;
  aspect-ratio: 18/1;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.412);
  margin-bottom: 10px;
}

header {
  position: fixed;
  background-color: #fff;
  z-index: 999;
}

header .container .logo {
  width: 30%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: start;
}

header .container .logo h1 a {
  font-size: 30px;
  color: red;
}

header .container .navbar {
  width: 70%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: end;
}

header .container .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header .container .navbar ul li a {
  font-size: 17px;
  color: black;
  text-transform: capitalize;
}
header .container .navbar ul li a span {
  padding-right: 8px;
}

header .container .navbar ul li a:hover {
  background-color: lime;
  color: white;
  border-radius: 50px;
}

section#showcase {
  background-color: white;
}

section#showcase .container {
  background-color: white;
  height: 600px;
  display: flex;
  flex-direction: row;
  margin-top: 180px;
}

section#showcase .container .left {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
}

section#showcase .container .left .harf h1 {
  font-size: 70px;
  padding: 20px 0;
  font-weight: 400;
}
section#showcase .container .left .harf p {
  font-size: 20px;
  padding-bottom: 20px;
}
section#showcase .container .left .harf button {
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: black;
  font-size: 15px;
}

section#showcase .container .right {
  height: 100%;
  display: flex;
  align-items: center;
  width: 50%;
}

section#brand {
  background-color: #f4f4f4;
  position: relative;
}

section#brand .container {
  background-color: white;
  height: 532px;
  position: relative;
  display: flex;
  padding: 0;
}

section#brand h1 {
  font-size: 40px;
  text-align: center;
  padding: 40px;
  font-weight: 400;
}

section#brand .container .joy1 {
  width: 50%;
  height: 532px;
  position: relative;
}

section#brand .container .joy2 {
  width: 50%;
  display: flex;
  background-color: #f4f4f4;
  flex-wrap: wrap;
  height: 532px;
  gap: 20px;
  justify-content: center;
  position: relative;
  align-items: start;
}

section#brand .container .joy1 .img-div1 {
  background-color: white;
  width: 100%;
  height: 532px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  overflow: hidden;
}
section#brand .container .joy1 .img-div1 .img1 {
  width: 576px;
  height: 407px;
}

section#brand .container .joy2 .img-div2 {
  background: white;
  width: 308px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
section#brand .container .joy2 .img-div2 .img2 {
  width: 268px;
  height: 210px;
}

section#brand .container .joy2 .img-div3 {
  background: white;
  width: 308px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
section#brand .container .joy2 .img-div3 .img3 {
  width: 268px;
  height: 210px;
}

section#brand .container .joy2 .img-div4 {
  background: white;
  width: 308px;
  height: 250px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
}
section#brand .container .joy2 .img-div4 .img4 {
  width: 268px;
  height: 210px;
}

section#brand .container .joy2 .img-div5 {
  background: white;
  width: 308px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
section#brand .container .joy2 .img-div5 .img5 {
  width: 268px;
  height: 210px;
}

section#brand .container .div {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 0 10px;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

section#brand .container .img-div5:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#brand .container .img-div4:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#brand .container .img-div3:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#brand .container .img-div2:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#brand .container .img-div1:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

footer#footer {
  background-color: rgb(255, 255, 255);
}

footer#footer .container {
  background-color: rgb(255, 255, 255);
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

footer#footer .container .foot {
  width: 100%;
  height: 80%;
  background-color: #fff;
  padding-top: 40px;
}
footer#footer .container .foot h2 {
  font-weight: 500;
  padding-bottom: 20px;
}
footer#footer .container .foot p {
  padding-top: 40px;
  padding-bottom: 70px;
  cursor: pointer;
}
footer#footer .container .foot h4 {
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
}
footer#footer .container .foot .icon {
  padding-left: 40px;
  cursor: pointer;
}

footer#footer .oxiri {
  background-color: rgb(7, 7, 7);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
}
footer#footer .oxiri a {
  color: white;
}
footer#footer .oxiri h3 {
  color: white;
}

section#kiyimlar .container {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  overflow: hidden;
  position: relative;
}

section#kiyimlar .container .img1 {
  width: 100%;
  height: 368px;
  background: #fff;
  display: flex;
  align-items: center;
}
section#kiyimlar .container .img1 img {
  width: 100%;
}

section#kiyimlar .container .img2 {
  width: 100%;
  height: 368px;
  background: #fff;
  display: flex;
  align-items: center;
}
section#kiyimlar .container .img2 img {
  width: 100%;
}

section#kiyimlar .container .img3 {
  width: 100%;
  height: 368px;
  background: #fff;
  display: flex;
  align-items: center;
}
section#kiyimlar .container .img3 img {
  width: 100%;
}

section#kiyimlar .container .img4 {
  width: 100%;
  height: 368px;
  background: #fff;
  display: flex;
  align-items: center;
}
section#kiyimlar .container .img4 img {
  width: 100%;
}

section#shocvase {
  background-color: white;
}

section#shovcase .container {
  background-color: white;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}
section#shovcase .container .form-control {
  width: 1320px;
}

footer#footeer {
  background-color: rgb(255, 255, 255);
}

footer#footeer .container {
  background-color: rgb(255, 255, 255);
  height: 380px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

footer#footeer .container .foot {
  width: 100%;
  height: 80%;
  background-color: #fff;
  padding-top: 40px;
}
footer#footeer .container .foot h2 {
  font-weight: 500;
  padding-bottom: 20px;
  font-size: 24px;
}
footer#footeer .container .foot p {
  padding-top: 40px;
  padding-bottom: 70px;
  cursor: pointer;
}
footer#footeer .container .foot h4 {
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
}
footer#footeer .container .foot .icon {
  padding-left: 40px;
  cursor: pointer;
}

footer#footeer .oxiri {
  background-color: rgb(7, 7, 7);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
}
footer#footeer .oxiri a {
  color: white;
}
footer#footeer .oxiri h3 {
  color: white;
}

.col-md-4 {
  width: 100%;
  position: relative;
  height: 100%;
}
.col-md-4 .card {
  position: relative;
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.col-md-4 .card-body {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.col-md-4 .card-body p {
  overflow: hidden;
  gap: 110px;
}

.col-md-4:hover .card-body {
  transform: translateY(20%);
  background: #000;
  color: #fff;
}

section#travel {
  background-color: white;
}

section#travel .container {
  background-color: transparent;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#products {
  background-color: #f4f4f4;
  padding-top: 50px;
}

section#products .container {
  background-color: #f4f4f4;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

section#products h1 {
  font-size: 40px;
  text-align: center;
  padding: 40px;
  font-weight: 400;
}

section#products .container .img1 {
  width: 100%;
  height: 468px;
  background: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
section#products .container .img1 img {
  width: 100%;
}

section#products .container .img2 {
  width: 100%;
  height: 468px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: #fff;
  position: relative;
}
section#products .container .img2 img {
  width: 100%;
}

section#products .container .img3 {
  width: 100%;
  height: 468px;
  display: flex;
  overflow: hidden;
  align-items: center;
  background: #fff;
  position: relative;
}
section#products .container .img3 img {
  width: 100%;
}

section#products .container .img4 {
  width: 100%;
  height: 468px;
  background: #fff;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
section#products .container .img4 img {
  width: 100%;
}

section#products .container .img5 {
  width: 100%;
  height: 468px;
  background: #fff;
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
}
section#products .container .img5 img {
  width: 100%;
}

section#products .container .img6 {
  width: 100%;
  height: 468px;
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  position: relative;
}
section#products .container .img6 img {
  width: 100%;
}

section#products .container .img7 {
  width: 100%;
  height: 468px;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
section#products .container .img7 img {
  width: 100%;
}

section#products .container .img8 {
  width: 100%;
  height: 468px;
  background: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
section#products .container .img8 img {
  width: 100%;
}

section#products .container .div {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 0 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

section#products .container .img1:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#products .container .img2:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#products .container .img3:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#products .container .img4:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#products .container .img5:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#products .container .img6:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#products .container .img7:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#products .container .img8:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#best {
  background-color: #f4f4f4;
  padding-top: 70px;
  padding-bottom: 50px;
  position: relative;
}

section#best .container {
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  position: relative;
}

section#best h1 {
  font-size: 40px;
  text-align: center;
  padding: 40px;
  font-weight: 400;
}

section#best .container .img1 {
  width: 100%;
  height: 368px;
  background: #fff;
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
}
section#best .container .img1 img {
  width: 100%;
}

section#best .container .img2 {
  width: 100%;
  height: 368px;
  background: #fff;
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
}
section#best .container .img2 img {
  width: 100%;
}

section#best .container .img3 {
  width: 100%;
  height: 368px;
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  position: relative;
}
section#best .container .img3 img {
  width: 100%;
}

section#best .container .img4 {
  width: 100%;
  height: 368px;
  background: #fff;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
section#best .container .img4 img {
  width: 100%;
}

section#best .container .div {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 0 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

section#best .container .img1:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#best .container .img2:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#best .container .img3:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}

section#best .container .img4:hover .div {
  transform: translateY(0%);
  background: #000;
  color: #fff;
}/*# sourceMappingURL=index.css.map */